.ingredientsWrapper{
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    grid-area: items;
}

.tab {
    margin-bottom: 40px;
}

.ingredients {
    display: flex;
    flex-flow: wrap;
    overflow:scroll;
}

.items{
    margin-left: 16px;
}
