.ingredientsWrapper{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    grid-area: items;
    padding-bottom: 40px;
    min-width: 600px;
}

.tab {
    margin-bottom: 40px;
}

.ingredientBox{
    width: 100%;
    height: 100%;
    position: relative;

}

.ingredients {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    scroll-snap-type: y mandatory;
    overflow: auto;

}


.titleItems{
    scroll-snap-align: start;

}

.items{

    margin-left: 16px;
}
