.section {
    display: flex;
    width: 600px;
    flex-direction: column;
    height: calc(100% - 60px);
    background: #131316;
}

.title {
    margin-bottom: 20px;
}

.tab {
    margin-bottom: 40px;
}

.ingredients {
    display: flex;
    flex-flow: wrap;
    overflow: scroll;
    overflow-x: hidden;
}

