.wrapper {
    position: fixed;
    top: 110px;
    right: 160px;
    z-index: 10000;

    padding: 16px;

    border-radius: 40px;

    background-color: var(--background-color);
    box-shadow: var(--second-color);
    animation:  fade-out 1s 3.5s forwards;

}


@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

