.section{
    width: 600px;
    display: flex;
    justify-content: right;
    background: #131316;
    height: calc(100% - 100px);
    padding-top: 100px;
    /*-moz-user-select: none;*/
    /*user-select: none;*/
}




.bun{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 24px;
    margin-left: 64px;
    transform: scale(1);
    transition: transform 0.1s;
}


.ingredients{
    display: flex;
    flex-direction: column;
    height: calc(100% - 156px);
    padding-left: 16px;
    gap: 10px;
}

.pieces{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x:hidden;
    padding-left: 16px;
    gap: 10px;
    margin-left: 46px;
}

.piece{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 16px;
    transform: scale(1.00);
    transition: transform 0.4s;
}

.zero{
    padding-right: 64px;
}

.piece:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}

.bun:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}

.icon{
    padding-right: 16px;
}

.icon > svg{
    width: 32px;
    height: 32px;
}


