
.constructor{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: carts;
    min-width: 600px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
    row-gap: 50px;

}

/*.constructorList {*/
/*    justify-self: stretch;*/
/*    position: relative;*/
/*    flex-grow: 1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 60px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    row-gap: 16px;*/
/*    transition: box-shadow .4s cubic-bezier(.4, .23, 0, 1);*/
/*}*/

.target{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transform: scale(1);
}

.targetIsHover {
    composes: target;
    box-shadow: 0 0 16px 8px rgba(51, 51, 255, 0.25), 0 0 8px 8px rgba(51, 51, 255, 0.25);


}

.list{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    height: 100%;
}



.piece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 16px;
    transform: scale(1.00);
    transition: transform 0.4s;
    scroll-snap-align: start;
}
.emptyList{
    composes: list;
    background: #2f2f37;
    box-sizing: border-box;
    transform: scale(1.0);
    transition: transform 0.3s;
    border-radius: 40px ;
}



.piece:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}

.bun:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}


.icon > svg {
    width: 32px;
    height: 32px;
}


