.empty-constructor-element {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
    max-width: 536px;
    width:100vh;
    /*width: 100%;*/
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    color: #F2F2F3;
    box-sizing: border-box;
    margin-right: 8px;

}

.empty-constructor-element_pos_top {
    border-radius: var(--top-constructor-item-border-radius);
}

.empty-constructor-element_pos_bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.empty-constructor-element:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}

.empty-constructor-element_text{
    color: #8585AD;
}