.App {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background: #131316;
}

@media (max-width: 1200px) {
    .App {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .App {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .App {
        max-width: none;
    }
}

a {
    all: unset;
}

header {
    height: 150px;
}

main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px);
    min-width: 1240px;
    padding-top: 40px;

}
