
.piece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 16px;
    transform: scale(1.00);
    transition: transform 0.4s;
    scroll-snap-align: start;
    opacity: 1;
}
.isDragging{
    composes: piece;
    opacity: 0;
}