.wrapper {
  min-width: 720px;
  min-height: 540px;
  background: var(--background-color);
  color: var(--active-color);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
  border: 1px solid var(--dark-shadow-color);
  box-shadow:
    0px 0px 16px var(--dark-shadow-color),
    0px 0px 8px var(--dark-shadow-color),
    0px 4px 32px var(--dark-shadow-color);
  border-radius: 40px;
  z-index: 3;
}

.positionIcon {
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity .2s linear;
}

.positionIcon:hover{
  opacity: .7;
  cursor: pointer;
}